.margins {
  margin: 5%;
}
@media(max-width: 299px){
  .margins {
    display: none;
  }
  .warning {
    display: block;
    font-family: Montserrat, sans-serif;
  }
}
@media(min-width: 300px){
  .warning {
    display: none;
    font-family: Montserrat, sans-serif;
  }
}
.title {
  font: 35px/40px Montserrat, sans-serif;
  text-align: left;
  font-weight: 600;

  .name {
    font-weight: 600;
  }
}
@media(min-width:1026px){
  .skills {
    display: flex;
  }
  .subtitle {
    display: block;
  }
}
@media(min-width: 700px), (max-width: 1024px){
  .greeting-image2 {
    flex-direction: column;
    align-items: center;
    display: flex;
    svg {
      width: 60%;
    }
    .subtitleMobile {
      display: none;
    }
    .subtitle {
      display: block;
    }
  }
}
@media(max-width: 1025px){
  .left {
    padding-bottom: 50px;
  }
  .margins {
    font: 15px/20px Montserrat, sans-serif;
  }
  .subtitle {
    font: 15px/25px Montserrat, sans-serif;
  }
  .subtitleMobile {
    display: none;
  }
}
@media(max-width: 699px){
  .greeting-image2 {
    flex-direction: column;
    align-items: center;
    display: flex;

    svg {
      width: 55%;
    }
  }
  .subtitle {
    display: none;
  }
  .subtitleMobile {
    color: #868e96;
    font-weight: 300;
    text-align: left;
    display: block;
    font: 15px/25px Montserrat, sans-serif;
  }
}
@media(max-width: 1025px) {
  .greeting-image2 {
    flex-direction: column;
    align-items: center;
    display: flex;
  }
  .greeting-content {
    display: block;
  }
  .greeting-image {
    display: none;
  }
  .left {
    display: none;
  }
}

@media(min-width: 1026px) {
  .greeting-image2 {
    display: none;
  }
  .greeting-content {
    display: grid;
  }
  .greeting-image {
    display: flex;
  }
  .margins {
    font: 20px/25px Montserrat, sans-serif;
  }
  .subtitle {
    display: block;
    font: 20px/30px Montserrat, sans-serif;
  }
  .subtitleMobile {
    display: none;
  }
}
.skills {
  padding-bottom: 50px;
  .subtitle {
    color: #868e96;
  }
  .left {
    flex: 1;
    svg {
    }
    margin: 5px;
  }
  .right {
    flex: 1;
    h1 {
      font-size: 40px;
      font-weight: 700;
      font-weight: 700;
    }
    p {
      color: #868e96;
      font-size: 16px;
    }
    .dev-icons {
      padding-left: 0;
      list-style: none;
      font-size: 3rem;
      margin-bottom: 0;
      margin-top: 0;
    }

    .software-skill-inline {
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 20px;
    }
    .software-skill-inline>i{
      color: #868e96;
    }
    .fab {
      font-weight: 400;
      -webkit-font-smoothing: antialiased;
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
    }
    .software-skill-inline p {
      color: #868e96;
      font-size: 10px;
    }
  }
}

.greeting {
  .greeting-image {
    flex-direction: column;
    img {
      object-fit: scale-down;
    }

    flex-grow: 1;
  }
}
.subtitle {
  color: #868e96;
  font-weight: 300;
  text-align: left;
}
.greeting {
  .greeting-content {
    grid-template-columns: 60% auto;
    grid-gap: 1rem 1rem;
    gap: 1rem 1rem;
    align-items: center;

    .greeting-text {
      flex-grow: 2;
      display: flex;
      flex-direction: column;

      .greeting-socials {
        width: 100%;
        margin-top: 30px;
        font-size: 2em;
        #fb {
          color: white;
          border-radius: 2.6rem;
          cursor: pointer;
          display: inline-block;
          font-size: 1.3rem;
          height: 2.6rem;
          line-height: 2.6rem;
          position: relative;
          text-align: center;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 2.6rem;
          margin: 0 5px 10px;
          background-color: #3b5998;
        }
        #fb:hover {
          transform: scale(1.1);
        }
        #li {
          color: #fff;
          border-radius: 2.6rem;
          cursor: pointer;
          display: inline-block;
          font-size: 1.3rem;
          height: 2.6rem;
          line-height: 2.6rem;
          position: relative;
          text-align: center;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 2.6rem;
          margin: 0 5px 10px;
          background-color: #0e76a8;
        }
        #li:hover {
          transform: scale(1.1);
        }
        #gm {
          color: #fff;
          border-radius: 2.6rem;
          cursor: pointer;
          display: inline-block;
          font-size: 1.3rem;
          height: 2.6rem;
          line-height: 2.6rem;
          position: relative;
          text-align: center;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 2.6rem;
          margin: 0 5px 10px;
          background-color: #ea4335;
        }
        #gm:hover {
          transform: scale(1.1);
        }
        #gh {
          color: #fff;
          border-radius: 2.6rem;
          cursor: pointer;
          display: inline-block;
          font-size: 1.3rem;
          height: 2.6rem;
          line-height: 2.6rem;
          position: relative;
          text-align: center;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          width: 2.6rem;
          margin: 0 5px 10px;
          background-color: #333;
        }
        #gh:hover {
          transform: scale(1.1);
        }
      }

    }

    .greeting-image {
      #pfp {
        display: flex;
        width: 100%;
        border-radius: 300px;
        margin-bottom: 10px;
      }
      img {
        object-fit: scale-down;
      }
      flex-grow: 1;
    }
  }
  .greeting-second {
    display: flex;
    align-items: stretch;
    justify-content: left;

    .greeting-buttons {
      margin: 5%;
      display: flex;

      .button-portfolio {
        background-color: #55198b;
        border: 1px solid #55198b;
        color: #fff;
        font-weight: 700;
        width: max-content;
        padding: 13px 22px;
        margin-right: 50px;
        text-transform: uppercase;
        border-radius: 6px;
        text-align: center;
        text-decoration: none;
        display: block;
        margin-top: 20px;
        font-size: 16px;
        cursor: pointer;
        -webkit-transition: all .3s ease-in-out 0s;
        transition: all .3s ease-in-out 0s;
      }
    }
  }
}

.projects {
  padding: 20px 10px;

  .projects-title {
    text-decoration: unset;
    font-size: 40px;
  }
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 1rem 1rem;
    gap: 1rem 1rem;
    .point {
      cursor: pointer;
    }
    .repo:hover {
      transform: scale(1.03);
    }
    .repo {
      font: 16px/26px Montserrat, sans-serif;
      color: #586069;
      background-color: #fff;
      box-shadow: 5px 5px 10px rgba(40, 52, 58, 0.3);;
      padding: 2rem;
      .repo-stats {
        display: flex;
        justify-content: space-between;
        font-size: 13px;
        color: #6a737d;
        .repo-left-stats {
          flex-grow: 1;
          display: flex;
          .repo-star-svg {
            margin-right: .3rem;
          }
          span {
            margin-right: .75rem;
            display: flex;
            display: flex;
            align-items: center;

            .language-color-js {
              background-color: rgb(241, 224, 90);
              width: 10px;
              height: 10px;
              margin-right: .25rem;
              border-radius: 100%;
            }
            .language-color-php {
              background-color: #4F5D95;
              width: 10px;
              height: 10px;
              margin-right: .25rem;
              border-radius: 100%;
            }
            .language-color-c {
              background-color: #555555;
              width: 10px;
              height: 10px;
              margin-right: .25rem;
              border-radius: 100%;
            }
          }
        }
        .repo-right-stats {

        }
      }
      .repo-description {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }
      .repo-name {
        margin: 0 10px 0 10px;
        display: flex;
        align-items: center;
        .repo-svg {
          margin-right: .5rem;
          min-width: 16px;
        }

        .repo-title {
          text-decoration: unset;
          white-space: nowrap;
          text-overflow: ellipsis;
          color: #24292e;
          font-size: 25px;
          font-weight: 700;
          letter-spacing: -.5px;
          overflow: hidden;
          margin: 0;
        }
      }
    }

  }
}
.dev-icons {
  i {
    margin-bottom: 5px;
  }
  p {
    margin: 0;
    line-height: 12px;
  }
}
footer {
  text-align: center;
  font-size: small;
  font-weight: 200;
  color: #24292e;
}
.fab {
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}
/*# sourceMappingURL=indexsass.css.map */